@model IEnumerable<QuanLyGiaiCauLong.Models.GiaiDau>

@{
    ViewData["Title"] = "DanhSachGiaiDau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DanhSachGiaiDau</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên giải
            </th>
            <th>
                Loại giải
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Địa điểm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGiai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiGiai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGiai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGiai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGiai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
